<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356360612089-nhbav701gck12mbgc0ieuasdh5ub2vqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356360612089-nhbav701gck12mbgc0ieuasdh5ub2vqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAxBnp82nHY3LeQ_29JBF5L1jKRUEu9ZiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356360612089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailSmtp</string>
	<key>PROJECT_ID</key>
	<string>flutter-smtp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-smtp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356360612089:ios:40717fd0e466128449da28</string>
</dict>
</plist>